<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- 环境读取 -->
    <springProperty scope="context" name="broker" source="itiaoling.logs.appender.elk.kafka-host"/>
    <springProperty scope="context" name="scenario" source="itiaoling.logs.appender.scenario"/>
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <springProperty scope="context" name="lingerMs" source="itiaoling.logs.appender.elk.linger-ms"/>
    <springProperty scope="context" name="batchSize" source="itiaoling.logs.appender.elk.batch-size"/>

    <conversionRule conversionWord="ip" converterClass="com.itiaoling.log.config.CustomLogConfig"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="TIME %d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'} %contextName [%thread] IP [%ip]  -%5p [%X{X-B3-TraceId:-}] %-40.40logger{39} %L %m %n -%wEx"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <appender name="ES_LOGGER" class="com.itiaoling.log.appender.ElasticSearchLogBackAppender">
        <scenario>${scenario}</scenario>
        <broker>${broker}</broker>
        <appName>${appName}</appName>
        <lingerMs>${lingerMs}</lingerMs>
        <batchSize>${batchSize}</batchSize>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ES_LOGGER"/>
    </root>
</configuration>
